/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

body {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

:root {
  --black: #000;
  --white: #fff;
}

/* item specific */

section {
  padding: 2rem 1rem 2rem 1rem;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}