*,
*::after,
*::before {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: Arial;
}

:root {
  --black: #000;
  --white: #fff;
}

/* item specific */

section {
  padding: 2rem 1rem 2rem 1rem;
}