---
// layouts
import Layout from "../layouts/Layout.astro";
// components
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import FeaturedIn from "../components/FeaturedInData.astro";
import GoogleReviews from "../components/GoogleReviews.astro";
import ServiceData from "../components/ServiceData.astro";
import WeddingData from "../components/WeddingData.astro";
import WhyUs from "../components/WhyUs.astro";
import TestimonyData from "../components/TestimonyData.astro";
---

<Layout
  title="Wedding Photography and Videography Studio based in Melbourne | Augmented Arts Weddings"
  description="We are proffesionals in wedding photography and videography with over 7 years of experience."
>
  <main>
    <!-- hero -->
    <section class="heroSection">
      <img
        class="heroBackground"
        src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/pexels-taras-budniak-1573007_wkl2dh.jpg"
        alt=""
      />
      <Hero />
    </section>

    <!-- services -->
    <section class="servicesSection">
      <ServiceData />
    </section>

    <!-- weddings -->
    <section class="quoteSection">
      <WeddingData />
    </section>

    <!-- Quote -->
    <section class="quoteSection">
      <Quote />
    </section>

    <!-- Why us -->
    <section class="whysU">
      <WhyUs />
    </section>

    <!-- Featured In -->
    <section class="featuredIn">
      <FeaturedIn />
    </section>

    <!-- google reviews -->
    <section class="googleSection">
      <GoogleReviews />
    </section>

    <!-- testimony -->
    <section class="testimonySection">
      <TestimonyData />
    </section>
  </main>
</Layout>

<style>
  .heroSection {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>
