---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Wedding Photography and Videography Studio based in Melbourne | Augmented Arts Weddings"
  description="We are proffesionals in wedding photography and videography with over 7 years of experience."
>
  <main>
    <h1>hi</h1>
  </main>
</Layout>
