---
// layouts
import Layout from "../layouts/Layout.astro";
// components
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import FeaturedIn from "../components/FeaturedInData.astro";

import ServiceData from "../components/ServiceData.astro";
import WeddingData from "../components/WeddingData.astro";
import WhyUs from "../components/WhyUs.astro";
import TestimonyData from "../components/TestimonyData.astro";

// dataaaaaa
---

<Layout
  title="Wedding Photography and Videography Studio based in Melbourne | Augmented Arts Weddings"
  description="We are proffesionals in wedding photography and videography with over 7 years of experience."
>
  <main>
    <!-- hero -->
    <section class="heroSection">
      <img
        class="heroBackground"
        src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/pexels-taras-budniak-1573007_wkl2dh.jpg"
        alt=""
      />
      <Hero
        heroDes="melbourne based wedding photography and videograhpy agency with over 7 years of experience in the industry."
        heroTitle="augmented arts weddings"
      />
    </section>

    <!-- services -->
    <section class="servicesSection">
      <ServiceData />
    </section>

    <!-- weddings -->
    <section class="quoteSection">
      <WeddingData />
    </section>

    <!-- Quote -->
    <section class="quoteSection">
      <Quote
        quote="“Love & Forever Here at Augmented Arts Weddings, we capture the dear soul that join together in one special day, professionally curated, exported for tears and joy..."
        quoteName="-Augmented Arts Weddings"
      />
    </section>

    <!-- Why us -->
    <section class="whyUs">
      <WhyUs
        whyUs="Augmented Arts Weddings is a Melbourne based photography and videography team dedicated in capturing the most precious moments of your wedding dayFor 7 years we've been perfecting the craft of making memories that will last a lifetime. Having a narrative to cherish for the rest of your life is about being able to look back and smile at happy times you missed at the time, and seeing the joy on the faces of the people closest to you. We try to differentiate styles, to make every wedding unique and exciting. You only get one chance to get married, so make the most of it by making sure you're in the right spot at the right time, that the moment is beautifully captured, and that you can revisit the joy and love you felt on your special day!"
      />
    </section>

    <!-- Featured In -->
    <section class="featuredIn">
      <FeaturedIn />
    </section>

    <!-- google reviews -->
    <!-- <section class="googleSection">
      <GoogleReviews />
    </section> -->

    <!-- testimony -->
    <section class="testimonySection">
      <TestimonyData />
    </section>
  </main>
</Layout>

<style>
  .heroSection {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>
