---
// layouts
import Layout from "../layouts/Layout.astro";
// components
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import FeaturedIn from "../components/FeaturedInData.astro";
import Form from "../components/Form.astro";
import ServiceData from "../components/ServiceData.astro";
import WeddingData from "../components/WeddingData.astro";
import WhyUs from "../components/WhyUs.astro";
import TestimonyData from "../components/TestimonyData.astro";
import Carousel from "../components/Carousel.astro";

// dataaaaaa
---

<Layout
  title="Wedding Photography and Videography Studio based in Melbourne | Augmented Arts Weddings"
  description="We are proffesionals in wedding photography and videography with over 7 years of experience."
>
  <main>
    <!-- hero -->
    <section class="heroSection">
      <video class="heroVideo ukiyo" muted autoplay loop playsinline>
        <source src="hero3.mp4" type="video/mp4" />
      </video>

      <img class="heroIcon" src="/heroIcon.svg" alt="" />
    </section>

    <section class="heroDes">
      <h1 class="heroTtl">
        Melbourne's premium wedding photography & videography studio.
      </h1>
    </section>

    <section class="carouselSection">
      <Carousel />
    </section>
    <!-- services -->
    <!-- <section class="servicesSection">
      <h2>our services</h2>
      <ServiceData />
    </section> -->

    <!-- weddings -->
    <section class="quoteSection">
      <WeddingData />
    </section>

    <!-- form -->

    <section class="formSection">
      <h2>drop us a line</h2>
      <div class="formContainer">
        <form
          method="POST"
          action="https://formsubmit.co/avidu97@gmail.com"
          enctype="multipart/form-data"
        >
          <div class="formItem">
            <label for="name"> Name:*</label>
            <input type="text" name="name" placeholder="" required />
          </div>

          <div class="formItem">
            <label for="email"> Email:*</label>
            <input type="email" name="email" placeholder="" required />
          </div>

          <div class="formItem">
            <label for="tel"> Phone:*</label>
            <input type="tel" name="tel" placeholder="" id="" required />
          </div>

          <div class="formItem">
            <label for="message"> Message:*</label>
            <textarea name="message" placeholder=""></textarea>
          </div>

          <div class="radioItems">
            <fieldset class="formItem">
              <legend>How did you hear about us:</legend>

              <div>
                <input
                  type="radio"
                  id="google"
                  name="where"
                  value="google"
                  checked
                />
                <label for="google">Google</label>
              </div>

              <div>
                <input type="radio" id="social" name="where" value="social" />
                <label for="social">Social Media</label>
              </div>

              <div>
                <input type="radio" id="friend" name="where" value="friend" />
                <label for="friend">Friend</label>
              </div>
            </fieldset>
          </div>

          <!--  -->
          <input
            type="hidden"
            name="_next"
            value="http://localhost:3000/contact-us"
          />
          <input type="hidden" name="_captcha" value="false" />
          <!--  -->

          <button class="formBtn" type="submit">Send</button>
        </form>
      </div>
    </section>

    <!-- Quote -->
    <!-- <section class="quoteSection">
      <Quote
        quote="“Love & Forever Here at Augmented Arts Weddings, we capture the dear soul that join together in one special day, professionally curated, exported for tears and joy..."
        quoteName="-Augmented Arts Weddings"
      />
    </section> -->

    <!-- Why us -->
    <!-- <section class="whyUs">
      <WhyUs
        whyUs="Augmented Arts Weddings is a Melbourne based photography and videography team dedicated in capturing the most precious moments of your wedding dayFor 7 years we've been perfecting the craft of making memories that will last a lifetime. Having a narrative to cherish for the rest of your life is about being able to look back and smile at happy times you missed at the time, and seeing the joy on the faces of the people closest to you. We try to differentiate styles, to make every wedding unique and exciting. You only get one chance to get married, so make the most of it by making sure you're in the right spot at the right time, that the moment is beautifully captured, and that you can revisit the joy and love you felt on your special day!"
      />
    </section> -->

    <!-- Featured In -->
    <section class="featuredIn">
      <h2>featured in</h2>
      <FeaturedIn />
    </section>

    <!-- google reviews -->
    <!-- <section class="googleSection">
      <GoogleReviews />
    </section> -->

    <!-- testimony -->
    <section class="testimonySection">
      <h2>What our clients say</h2>
      <TestimonyData />
    </section>
  </main>
</Layout>

<style>
  /* .heroSection {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 0;
  } */

  .heroSection {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

  }

  .heroVideo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 8;
    pointer-events: none;
  }

  .heroIcon {
    position: absolute;
    bottom: 10vh;
    z-index: 9;
    color: #ffffff;
    height: 50px;
    left: 50%;
  }

  .heroTtl {
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
    font-size: 2vw;
    text-align: center;
  }

  .heroDes {
    height: 100vh;
    display: grid;
    place-content: center;
  }

  /* form styling */

  .formItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
    align-items: flex-end;
  }

  .formContainer {
    max-width: 800px;
    margin: 0 auto;
  }

  form input {
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  input {
    border: none;
    width: 70%;
  }

  input::placeholder {
    color: darkgray;
    text-align: center;
  }

  textarea {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 70%;
  }

  .formBtn {
    border-radius: 0.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  h2 {
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
  }
</style>
