---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="" description="">
  <section class="topSection">
    <h1>wedding tips</h1>
  </section>
</Layout>

<style>
  .topSection {
    padding-top: 15vh;
  }
</style>
