---
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";

---

<div>
    <h4>Download our price list(PDF)</h4>
    <div class="ctaButtons">
        <PrimaryButton link="#" buttonText="Download" />
        <SecondaryButton link="" buttonText="" />
    </div>
</div>

<style></style>