---

---

<div class="container" data-slick='{"slidesToShow": 1, "slidesToScroll": 5}'>
    <div class="item">
        <img src="https://res.cloudinary.com/avidu/image/upload/v1688449134/Augmented/pexels-min-an-758898_k7qdnw.jpg" alt="">
    </div>
    <div class="item">
        <img src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/pexels-trung-nguyen-1603884_vtr0xm.jpg" alt="">
    </div>
    <div class="item">
        <img src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/pexels-taras-budniak-1573007_wkl2dh.jpg" alt="">
    </div>
    <div class="item">
        <img src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/pexels-emma-bauso-2253870_zb3oik.jpg" alt="">
    </div>
    <div class="item">
        <img src="https://res.cloudinary.com/avidu/image/upload/v1688449132/Augmented/download_2_doqovm.jpg" alt="">
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .item {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .item img {
        position: absolute;
        height: 100%;
        width: 100%;
    }

</style>

<script>
</script>