---
export interface Props {
  url: string;
  imgUrl: string;
  imgAlt: string;
  title: string;
}

const { title, imgUrl, imgAlt, url } = Astro.props;
---

<div class="featuredInGrid">
  <a href={url} class="featureContainer" target="_blank">
    <img src={imgUrl} alt={imgAlt} />
    <p>{title}</p>
  </a>
</div>

<style>
  .featureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
</style>

<script></script>
