<footer>
  <div class="details">
    <p class="footerDes">
      Augmented arts weddings is a part of fernasara group pvt limited managed by CrayLux Media. 
    </p>
    <ul class="policies">
      <li><a class="policyLink" href="#">Privacy Policy</a></li>
      <li><a class="policyLink" href="#">Terms and Conditions</a></li>
      <li><a class="policyLink" href="#">Refund Policy</a></li>
    </ul>
  </div>
  <hr />
  <p class="copy">Copyright©2023 Augmented Arts Weddings</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    margin-top: 1rem;
    align-items: center;
    align-items: center;
  }

  .policies {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
  }

  .policyLink {
    text-decoration: underline;
    text-transform: capitalize;
    word-break: keep-all;
    margin: 1rem;
  }

  .footerDes {
    max-width: 500px;
  }

  hr {
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
  }

  .copy {
    width: 100%;
    text-align: center;
  }

  /* responsive design */

  @media screen and (min-width: 1024px) {
    .details {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .policies {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
</style>
