<footer>
  <p class="footerDes">Augmented arts weddings is a part of fernasara group pvt limited</p>
  <ul class="policies">
    <li><a class="policyLink" href="#">Privacy Policy</a></li>
    <li><a class="policyLink" href="#">Terms and Conditions</a></li>
    <li><a class="policyLink" href="#">Refund Policy</a></li>
  </ul>
  <hr>
  Copyright©2023 Augmented Arts Weddings
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
  }

  .policies {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
  }

  .policyLink {
    text-decoration: underline;
  }

  hr {
    margin: 0.5rem 0 0.5rem 0;
  }
</style>
