---
// imports
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";

// data fetching
export interface Props {
  heroTitle: string;
  heroDes: string;
}

const { heroTitle, heroDes } = Astro.props;
---

<div class="heroSection">
  <h1>{heroTitle}</h1>
  <p>
   {heroDes}
  </p>
  <div class="buttons">
    <PrimaryButton buttonText="packages" />
    <SecondaryButton buttonText="weddings" />
  </div>
</div>

<style>
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--white);
  }
</style>

<script></script>
