---
// imports
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";

// data fetching
const response = await fetch(
  "https://ap-southeast-2.cdn.hygraph.com/content/clk221xts0epd01uegwso9jj6/master",
  {
    method: "POST",
    headers: {
      "Content-Type": "application.json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
        {
        home(where: {id: "clk2511yi3iqw0b1fy3ohm0ao"}) {
          heroTitle
          heroDescription
          quote
          whysUs
        }
      }
    `,
    }),
  }
);

const home = await response.json();
---

<div class="heroSection">
  <h1>{home.data.home.heroTitle}</h1>
  <p>
    {home.data.home.heroDescription}
  </p>
  <div class="buttons">
    <PrimaryButton buttonText="packages" />
    <SecondaryButton buttonText="weddings" />
  </div>
</div>

<style>
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--white);
  }
</style>

<script></script>
