---
// imports
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";

// data fetching
export interface Props {
  heroTitle: string;
  heroDes: string;
}

const { heroTitle, heroDes } = Astro.props;
---

<div class="heroSection">
  <h1 class="heroTitle">{heroTitle}</h1>
  <p class="heroDes">
    {heroDes}
  </p>
  <div class="heroButtons">
    <PrimaryButton link="/wedding-packages" buttonText="packages" />
    <SecondaryButton link="/weddings" buttonText="weddings" />
  </div>
</div>

<style>
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--white);
  }

  .heroTitle {
    margin: 0.5rem 0 0.5rem 0;
  }

  .heroDes {
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }

  .heroButtons {
    margin: 1rem 0 0.5rem 0;
  } 
</style>
