---
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";
---

<div class="heroSection">
  <h1>augmented arts weddings</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusamus
    minus illo repellendus vel qui. Temporibus aperiam tenetur quo consequuntur
    quam ipsum corrupti itaque dignissimos!
  </p>
  <div class="buttons">
    <PrimaryButton buttonText="packages" />
    <SecondaryButton buttonText="weddings" />
  </div>
</div>

<style></style>

<script></script>
