<nav>
  <div class="navContainer">
  <a href="/" class="logo"><img src="/navlogo.png" height="50px" alt=""></a>
  <ul class="menuLinks">
    <li class="menuItem"><a href="/wedding-photography">Photography</a></li>
    <li class="menuItem"><a href="/wedding-videography">Videography</a></li>
    <li class="menuItem"><a href="/pre-wedding-shoots">Preweddings</a></li>
    <li class="menuItem"><a href="/wedding-packages">Packages</a></li>
    <li class="menuItem"><a href="/wedding-tips">Tips</a></li>
    <!-- <li class="menuItem"><a href="/about-us">About</a></li> -->
    <li class="menuItem"><a href="/contact-us">Contact</a></li>
  </ul>
</div>
</nav>

<style>
  nav {
    /* position: fixed; */
    top: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    background-color: #000000;
    color: white;
    margin: 0 auto;
    display: none;
  }

  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 90%;
    margin: 0 auto;
    padding: 0.5rem;

  }

  ul {
    display: flex;
    flex-direction: row;
  }

  .menuItem {
    margin: 0 0.5rem 0 0.5rem;
    /* border-bottom: 2px solid black; */
    transition: all ease-in-out 0.3s;
  }

  .menuItem:hover {
    color: grey;
  }


  /* responsive design */

  @media screen and (min-width: 1024px) {
    nav {
      display: flex;
    }
  }

</style>
