<div class="container">
  <nav class="nav-bar">
    <div class="toggle-menu">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <ul class="nav-list">
      <li class="menuItem">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="menuItem">
        <a class="nav-link" href="/wedding-photography">Photography</a>
      </li>
      <li class="menuItem">
        <a class="nav-link" href="/wedding-videography">Videography</a>
      </li>
      <li class="menuItem">
        <a class="nav-link" href="/pre-wedding-shoots">Preweddings</a>
      </li>
      <li class="menuItem">
        <a class="nav-link" href="/wedding-packages">Packages</a>
      </li>
      <li class="menuItem"><a class="nav-link" href="/weddings">Albums</a></li>
      <li class="menuItem">
        <a class="nav-link" href="/wedding-tips">Tips</a>
      </li>

      <li class="menuItem">
        <a class="nav-link" href="/contact-us">Contact</a>
      </li>

      <li class="menuItem">
        <a
          href="https://www.facebook.com/people/Augmented-Arts-Weddings/100067963444970/"
          target="_blank"
        >
          <svg
            fill="#000000"
            height="30px"
            width="30px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-143 145 512 512"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g>

            <g id="SVGRepo_iconCarrier">
              <path
                d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M169.5,357.6l-2.9,38.3h-39.3v133H77.7v-133H51.2v-38.3h26.5v-25.7c0-11.3,0.3-28.8,8.5-39.7c8.7-11.5,20.6-19.3,41.1-19.3 c33.4,0,47.4,4.8,47.4,4.8l-6.6,39.2c0,0-11-3.2-21.3-3.2c-10.3,0-19.5,3.7-19.5,14v29.9H169.5z"
              ></path>
            </g>
          </svg>
        </a>
      </li>

      <li class="menuItem">
        <a
          href="https://www.instagram.com/augmentedartsweddings/"
          target="_blank"
        >
          <svg
            fill="#000000"
            height="30px"
            width="30px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-143 145 512 512"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g>

            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M113,446c24.8,0,45.1-20.2,45.1-45.1c0-9.8-3.2-18.9-8.5-26.3c-8.2-11.3-21.5-18.8-36.5-18.8s-28.3,7.4-36.5,18.8 c-5.3,7.4-8.5,16.5-8.5,26.3C68,425.8,88.2,446,113,446z"
                ></path>
                <polygon
                  points="211.4,345.9 211.4,308.1 211.4,302.5 205.8,302.5 168,302.6 168.2,346 "
                ></polygon>
                <path
                  d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M241,374.7v104.8c0,27.3-22.2,49.5-49.5,49.5h-157C7.2,529-15,506.8-15,479.5V374.7v-52.3c0-27.3,22.2-49.5,49.5-49.5h157 c27.3,0,49.5,22.2,49.5,49.5V374.7z"
                ></path>
                <path
                  d="M183,401c0,38.6-31.4,70-70,70c-38.6,0-70-31.4-70-70c0-9.3,1.9-18.2,5.2-26.3H10v104.8C10,493,21,504,34.5,504h157 c13.5,0,24.5-11,24.5-24.5V374.7h-38.2C181.2,382.8,183,391.7,183,401z"
                ></path>
              </g>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>

<style>
  /* .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e);
    background-size: 400% 400%;
    position: relative;
  } */
  .nav-bar {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: -25rem;
    height: 100vh;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
    z-index: 10;
  }
  .toggle {
    left: 0;
  }
  .toggle-menu {
    background-color: black;
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.2rem 0.5rem;
    z-index: 9;
  }
  .line {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.2s ease-out;
  }
  .toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
  .toggle .line2 {
    display: none;
  }
  .toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }

  .toggle .toggle-menu {
    background-color: white;
  }
  .nav-list {
    list-style: none;
  }
  .menuItem {
    text-align: center;
    padding: 1rem 0;
  }
  .nav-link {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    padding-bottom: ;
  }
  .nav-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    transform-origin: left;
    z-index: 9;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }

  @media screen and (min-width: 1024px) {
    .container {
      display: none;
    }
  }
</style>

<script>
  const toggleButton = document.querySelector(".toggle-menu");
  const navBar = document.querySelector(".nav-bar");
  toggleButton.addEventListener("click", () => {
    navBar.classList.toggle("toggle");
  });
</script>
