---
export interface Props {
  packageTitle: string;
  features: string;
  price: string;
}

const { packageTitle, features, price } = Astro.props;
---

<div class="packageGrid">
  <div class="gridItem">
    <h3>{packageTitle}</h3>
    <ul class="packageFeatures">
      <li>{features}</li>
    </ul>
    <p class="packagePrice">${price}</p>
  </div>
</div>

<style>
.packageFeatures {
    list-style: disc;
    padding-left: 0.5rem;
}
</style>