---
export interface Props {
  buttonText: string;
  link: string;
}
const { buttonText, link } = Astro.props;
---

<button class="buttonContainer">
  <a href={link} class="buttonLink">
    {buttonText}
  </a>
</button>

<style>
  .buttonLink {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .buttonContainer {
    border-radius: 0.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
  }
</style>

<script></script>
