---
export interface Props {
  description: string;
  imgSrc: string;
  imgAlt: string;
  names: string;
}

const { description, imgSrc, imgAlt, names } = Astro.props;
---

<div class="testimonyGrid">
  <div class="testimonyContainer">
    <img src={imgSrc} alt={imgAlt} />
    <p>{description}</p>
    <p class="coupleNames"><b>{names}</b></p>
  </div>
</div>

<style>
  .testimonyContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .coupleNames {
    margin-top: 0.5rem;
    align-self: flex-end;
  }
</style>

<script></script>
