---
export interface Props {
  description: string;
  imgSrc: string;
  imgAlt: string;
  names: string;
}

const { description, imgSrc, imgAlt, names } = Astro.props;
---

<div class="testimonyGrid">
  <div class="testimonyContainer">
    <p>{description}</p>
    <div class="details">
      
      <img src={imgSrc} alt={imgAlt} />
      <p class="coupleNames"><b>{names}</b></p>
    </div>
  </div>
</div>

<style>
  img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .testimonyContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .coupleNames {
    margin-top: 0.5rem;
    align-self: flex-end;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
</style>

<script></script>
