---
export interface Props {
  description: string;
  imgSrc: string;
  imgAlt: string;
  names: string;
}

const { description, imgSrc, imgAlt, names } = Astro.props;
---

<div class="testimonyGrid">
  <img src={imgSrc} alt={imgAlt} />
  <p>{description}</p>
  <p>{names}</p>
</div>

<style></style>

<script></script>
