---
// data fetching
export interface Props {
  whyUs: string;
}

const { whyUs } = Astro.props;
---

<div class="whyUsContainer">
  <h2>why us</h2>
  <p>{whyUs}</p>
</div>

<style>
  @media screen and (min-width: 1024px) {
    .whyUsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
</style>

<script></script>
