---
// data fetching
export interface Props {
  whyUs: string;
}

const { whyUs } = Astro.props;
---

<div class="whyUsContainer">
  <h2>why us</h2>
  <p>{whyUs}</p>
</div>

<style></style>

<script></script>
