---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <slot />
    <Footer />
  </body>
</html>


<script>
      // lenis
      import Lenis from "@studio-freight/lenis";

      const lenis = new Lenis();

      lenis.on("scroll", (e) => {
        console.log(e);
      });

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      // -----

      // ukiyo
      import Ukiyo from "ukiyojs";
      // CSS selector
      new Ukiyo(".ukiyo");

      // or node
      const imag = document.querySelectorAll(".ukiyo");
      new Ukiyo(imag, {
        scale: 1.1, // 1~2 is recommended
        speed: 1.5, // 1~2 is recommended
        willChange: true, // This may not be valid in all cases
        wrapperClass: "ukiyo-wrapper",
        externalRAF: false
      });

      // or HTMLCollection
      const images = document.getElementsByClassName("ukiyo");
      new simpleParallax(imag);
    </script>
