---
// imports
import Layout from "../../layouts/Layout.astro";
import VideoPackages from "../../components/VideoPackages.astro";
import PhotoPackages from "../../components/PhotoPackages.astro";
---

<Layout title="wedding packages" description="">
  <main>
    <section class="topSection">
      <h1>wedding packages</h1>
      <p>
        Our pricing structure is designed to be flexible, allowing you to tailor
        your package to meet your specific requirements and preferences. We
        believe in transparency, which is why we have outlined our prices
        clearly and provided detailed information on what each package includes.
      </p>
    </section>

    <section class="packageContainer">
      <h2>photography packages</h2>
      <PhotoPackages />
    </section>

    <section class="packageContainer">
      <h2>videography packages</h2>
      <VideoPackages />
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* responsive design */

  h2 {
    margin: 1rem 0 1rem 0;
  }

  p {
    text-align: center;
    max-width: 600px;
  }

  @media screen and (max-width: 1024px) {
    .topSection {
      padding-top: 15vh;
    }
  }
</style>
